@{ ViewBag.Site = "Sample-application"; }
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>@ViewBag.Name | @ViewBag.Site</title>
		<link asp-append-version="true" href="~/Style/Site.min.css" rel="stylesheet" />
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
				<div class="container-fluid">
					<a asp-action="Index" asp-controller="Home" class="navbar-brand">@ViewBag.Site</a>
					<button aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navigation" data-bs-toggle="collapse" type="button">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navigation">
						<ul class="navbar-nav me-auto mb-2 mb-md-0">
							<li class="nav-item">
								<a asp-action="Index" asp-controller="List" class="nav-link@(Context.Request.Path.StartsWithSegments("/List") ? " active" : null)">List</a>
							</li>
							<li class="nav-item">
								<a asp-action="Index" asp-controller="Recaptcha" class="nav-link@(Context.Request.Path.StartsWithSegments("/Recaptcha") ? " active" : null)">Recaptcha</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<main class="container pb-3" role="main">
			<h1>@ViewBag.Name</h1>
			@RenderBody()
		</main>
		<footer class="border-top container pt-1 text-center text-muted">
			&copy; 2021 - @ViewBag.Site
		</footer>
		@if(Recaptcha.Enabled)
		{
			<script
				data-recaptcha-configuration-error-message="reCAPTCHA configuration-error! This error-message could be localized."
				data-recaptcha-siteKey="@Recaptcha.SiteKey"
				data-recaptcha-tokenParameterName="@Recaptcha.TokenParameterName"
				id="recaptcha-script"
				src="@Recaptcha.ScriptUrl"></script>
		}
		<script asp-append-version="true" src="~/Scripts/Site.min.js"></script>
	</body>
</html>